@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
}
body {
  background-color: #1f2328;
  font-family: 'Nunito', sans-serif;
  color: white;  
}

a{
  color: white;
  text-decoration: none;
}
h1{
  padding: 1%;
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}
.hero-sec{
  height: 100vh;
  box-sizing: border-box;
}

.logo {
  padding: 1%;
  display: block;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: whitesmoke;
  background-color: #1d1d1d;
  letter-spacing: 2.7px;
}

.terminal {
  justify-content: center;
  background-position: center;
  width: 650px;
  margin:0 auto;
  margin-top: 5%;
}
.fakeButtons {
  height: 12px;
  width: 12px;
  border-radius: 100%;
  position: relative;
  top: 3.5px;
  left: 7px;
  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
}

.fakeMinimize {
  left: 12px;
  background-color: #ffc100;
  border-color: #9d802c;
}

.fakeZoom {
  left: 17px;
  background-color: #00d742;
  border-color: #049931;
}
.fakeMenu {
  
  box-sizing: border-box;
  height: 25px;
  background-color: #2f2f2f;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.fakeScreen {
  background-color: #151515;
  box-sizing: border-box;
  height: 400px;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.terminal-text {
  font-family: 'Source Code Pro', monospace;
  font-size: 35px;
  padding: 1%;
  padding-top: 20%;
}

#typewriter:after {
  content: "_";
  animation: blink 500ms linear infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 0;
 }
  100% {
    opacity: 1;
 }
}
.hand{
  animation: wave-animation;
  animation-play-state: paused;
  animation-duration: 2s;
  animation-iteration-count: 1;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
}
10% {
    transform: rotate(-10deg);
  }
20% {
    transform: rotate(12deg);
  }
30% {
    transform: rotate(-10deg);
}
40% {
    transform: rotate(9deg);
}
50% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(0deg);
} 
}
.scroll-indicator {
  color: #fff;
  opacity: 0;
  font-size: 20px;
  animation: bounce 3.5s ease infinite;
  animation-iteration-count: 30;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px; 
  animation-play-state: paused;
}

@keyframes bounce {
  50% {
    opacity:1;
    transform: translateY(-50%);
  }
}

.experience{
    background-color:#171a1e; 
    opacity: 0.9;
}
.exp-list{
  padding-bottom:20px;
}
.exp{
  width:800px; 
  margin: 50px auto;
  
}
.title{
  font-size: 20px;
  font-weight: bold;
}

.skills span {
  font-size: 14px;
  border: 1px solid;
  border-radius: 3px;
  padding: 3px;
  padding-left: 10p;
  margin: 0 1em 0.5em 0;
  
}

.company-logo{
  width: 65px;
  height: 65px;
  border-radius: 100%;
  float: left;
  display: block;
  background-color: #ffff;
  margin: -4px 18px 0 -80px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
  opacity: 0.95;
  z-index: 0;
}
.emirates-logo{
  background-color: #d71a21;
}
.projects{
  background-color: #1f2328;
  padding-bottom: 20px;
}
#proj-title{
  color:  whitesmoke;
}

.proj{
  width:800px; 
  margin: 30px auto;
  /* border: 0.1px solid; */
  /* border-radius: 20px; */
  /* border-color: blanchedalmond; */
  padding: 20px;
  color: whitesmoke;
}
.fa{
  opacity: 0.8;
  color:  whitesmoke;
}
.fa:hover{
  opacity: 1;
}
.footer-basic{
  height: 55px;
  background-color: #0f1114;
}
.footer-basic ul {
  padding:10px;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;  
}
.footer-basic li {
  display:inline; 
  padding:0 20px;
}
.footer-basic ul a {
  white-space:nowrap;
  text-decoration:none;
  opacity:0.8;
}
.footer-basic ul a:hover {
  opacity:1;
}

/* @media only screen and (max-width: 1049px) {
  .exp{
    width: 700px;
  }
  .company-logo{
    display: none;
  }
  .proj{
    width:700px;
  }
}
@media only screen and (max-width: 820px) {
  .logo {
    font-size: 30px;
  }
  .terminal{
    width: 450px;
    margin: 0 auto;
  }

  .fakeScreen{
    height: 400px;
  }

  .terminal-text{
    padding-left: 0;
    padding-top: 25%;
    font-size: 30px;
  
  }
  .fakeMenu{
    margin-top: 30%;
  }
  .exp{
    width: 400px;
    margin: 60px auto;

  }
  .company-logo{
    display: none;
  }
  .proj{
    width:400px;
  }
  .title{
    font-size: 17px;
  }
  .exp-dur-loc{
    font-size: 14px;
  }
  
}
@media (max-width: 375px) {
  .logo {
    font-size: 90%;
  }
  .terminal{
    width: 90vw;
    margin: auto auto;
  }

  .fakeScreen{
    height: 350px;
  }

  .terminal-text{
    padding-left: 0;
    padding-top: 25%;
    font-size: 30px;
  
  }
  .fakeMenu{
    margin-top: 30%;
  }
  .exp{
    width: 350px;
    margin: 60px auto;
  }
  .company-logo{
    display: none;
  }
  .proj{
    width:350px;
  }
  .title{
    font-size: 16px;
  }
  .exp-dur-loc{
    font-size: 14px;
  }
  
  .footer-basic li {
    display:inline; 
    padding:0 5px;
    font-size: 15px;
  }
  .fa{
    float: left;
  }
} */

@media screen and (max-width: 768px) {
  .exp{
    width: 80vw;
    margin: 60px auto;
  }
  .proj{
    width: 80vw;
    margin: 60px auto;
  }
  .logo{
    font-size: 6vw;
    padding: 3vw 0;
  }
  .company-logo{
    display: none;
  }
  .terminal{
    width: 80vw;
    margin-top: 15vh;
  }
  .terminal-text{
    font-size: 4vh;
  }
  .title{
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .exp{
    width: 80vw;
    margin: 60px auto;
  }
  .logo{
    font-size: 6vw;
    padding: 5vw 0;
  }
  .proj{
    width: 80vw;
    margin: 60px auto;
  }
  .company-logo{
    display: block;
    float:right;
    margin:0;
 
  }
  .low-width{
    font-size: 8vw;
  }
  .exp-dur-loc{
    display: none;
  }
  .terminal{
    width: 90vw;
    margin-top: 2vh;
  }
  .fakeScreen{
    height: 30vh;
  }
  .terminal-text{
    font-size: 10vw;
  }
  .hero-sec{
    height: 70vh;
  }
  .title{
    font-size: 18px;
  }
  .footer-basic li {
    font-size: 4vw;
    padding:0 10px;
  }
  .fakeButtons{
    display: none;
  }
  .fakeMenu{
    display: none;
  }
  .fakeScreen{
    background-color: #1f2328;
  }
}
@media screen and (max-width: 444px) {
  .terminal{
    margin-top: 2vh;
  }
  .terminal-text{
    padding-top: 0;
  }
  .hero-sec{
    height: 60vh;
  }
}  

